@import "null.css";
@import "select.css";
html,body {
	font-size: 14px;
	background-color: #333;
	font-family: "Helvetica Neue";
}
/* ===================================================================================== */
.form {
	max-width: 550px;
	margin: 0 auto;
	color: #fff;
	padding: 30px 0;
}
.form__body {
	position: relative;
}
.form__body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(51, 51, 51, 0.9) url('../img/loading.gif') center / 50px  no-repeat;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}
.form__body._sending::after {
	opacity: 1;
	visibility: visible;
}
.form__title {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}
.form__title:not(:last-child) {
	margin: 0 0 30px 0;
}
.form__item {
}
.form__item:not(:last-child) {
	margin: 0 0 20px 0;
}
.form__label {
	font-size: 18px;
	display: block;
}
.form__label:not(:last-child) {
	margin: 0 0 10px 0;
}
.form__input {
	height: 50px;
	padding: 0 20px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	transition: box-shadow 0.5s ease 0s;
}
.form__input:focus {
	box-shadow: 0 0 15px #7a956b;
}
.form__input._error {
	box-shadow: 0 0 15px red;
}
textarea.form__input {
	min-height: 120px;
	resize: vertical;
	padding: 15px;
}
.options {
	padding: 10px 0 0 0;
}
.options__item {
}
.options__item:not(:last-child) {
	margin: 0 0 10px 0;
}
.options__input {
	display: none;
}
.options__input:checked + .options__label::after{
	transform: scale(1);
}
.options__label {
	display: inline-flex;
	font-size: 16px;
	line-height: 140%;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.options__label::before {
	content: "";
	align-self: flex-start;
	flex: 0 0 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 10px 0 0;
}
.options__label::after {
	transition: transform 0.3s ease 0s;
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 16px;
	height: 16px;
	background-color: #7a956b;
	border-radius: 50%;
	transform: scale(0);
}
.file {
}
.file__item {
	position: relative;
}
.file__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	font-size: 0;
	cursor: pointer;
}
.file__button {
	display: inline-flex;
	min-height: 40px;
	border-radius:30px;
	justify-content: center;
	align-items: center;
	background-color: #77608d;
	padding: 0px 30px;
	z-index: 2;
}
.file__preview {
	display: inline-block;
	max-width: 100px;
	padding: 10px 0 0 0;
}
.file__preview img{
	max-width: 100%;
}
.checkbox {
}
.checkbox._error .checkbox__label::before{
	box-shadow: 0 0 15px red;
}
.checkbox__input {
	display: none;
}
.checkbox__input:checked + .checkbox__label::after {
	transform: scale(1);
}
.checkbox__label {
	font-size: 16px;
	line-height: 140%;
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.checkbox__label::before {
	content: "";
	align-self: flex-start;
	flex: 0 0 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 4px;
	margin: 0 10px 0 0;
}
.checkbox__label::after {
	transition: transform 0.3s ease 0s;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: #7a956b;
	border-radius: 4px;
	transform: scale(0);
}
.checkbox__label a {
	color: #7a956b;
	text-transform: capitalize;
}
.form__button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	background-color: #7a956b;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0 5px 0 #161b13;
	transition: background-color 0.4s ease 0s;
	position: relative;
	top: 0;
}
.form__button:hover {
	background-color: #4f6146;
}
.form__button:active {
	top: 3px;
	box-shadow: 0 5px 0 #161b13;
}